<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% if (locals.title==="Add Category" ) { %>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script src="js/bootstrap.bundle.min.js"></script>
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
      <script src="../js/bootstrap.bundle.min.js"></script>
      <% } %>
        <title>
          <%= title %>
        </title>
</head>

<body class="m-0 p-0" data-bs-theme="dark">
  <%- include("header") -%>
    <div class="container">
      <nav class="mt-4 mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/category">Category</a></li>
          <li class="breadcrumb-item">
            <%= title %>
          </li>
        </ol>
      </nav>
      <h1>
        <%= title %>
      </h1>
      <form method="POST">
        <div class="mb-2">
          <label for="name" class="form-label">Name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="Category name"
            value="<%= locals.category === undefined ? '' : category.name %>" required />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" name="description" id="description" placeholder="Category description" class="form-control"
            value="<%= locals.category === undefined ? '' : category.description %>" required />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <% if (locals.errors) { %>
        <% errors.forEach((err)=> { %>
          <p class="text-warning-emphasis mb-3 mt-3">
            <%= err.msg %>
          </p>
          <% }) %>
            <% } %>
    </div>
</body>

</html>
