<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <script src="js/bootstrap.bundle.min.js"></script>
  <title>
    <%= item.name %>
  </title>
</head>

<body class="m-0 p-0" data-bs-theme="dark">
  <%- include("header") -%>
    <div class="container">
      <nav class="mt-4 mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/item">Item</a></li>
          <li class="breadcrumb-item">
            <%= item.name %>
          </li>
        </ol>
      </nav>
      <h1>
        <%= item.name %>
      </h1>
      <p class="fs-5">
        <%= item.description %>
      </p>
      <p class="fs-5">
        Category: <a href="<%= item.category.url %>">
          <%= item.category.name %>
        </a>
      </p>
      <p class="fs-5">Price: <%= item.price.toFixed(2) %>
      </p>
      <p class="fs-5">Number in stock: <%= item.stock %>
      </p>
      <div class="btn-group">
        <button type="button" class="btn btn-primary"><a class="text-decoration-none link-light"
            href="<%= item.url %>/update">Update Item</a></button>
        <button type="button" class="btn btn-primary"><a class="text-decoration-none link-light"
            href="<%= item.url %>/delete">
            Delete Item</a></button>
      </div>

    </div>
</body>

</html>
